.center {
    margin-left: auto;
    text-align: center;
    align-items: center;
}

.tab-area {
    display: none;
}

.is-file #files-area, .is-modeling #modeling-area, .is-animation #animation-area, .is-texture #texture-area {
    display: unset;
}

.dbl-click-container.is-editing .dbl-text {
    display: none;
}

.dbl-click-container:not(.is-editing) .dbl-text-edit {
    display: none;
}