#editor-container {
    position: relative;
    border-top-style: solid;
    border-color: #555;
    border-width: 15px;
    cursor: n-resize;
}

#editor {
    background-color: #222;

    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;

    cursor: initial;
}

.toplayer-columns .column {
    text-align: center
}

.java-method-code {
    background-color: #222;
    border-radius: 5px;
    padding: 5px;
    font-size: 75%;
    white-space: pre;
}

.tabs a {
    color: antiquewhite !important;
}

.tabs li.is-active a {
    color: yellow !important;
    border-bottom-color: yellow !important;
}

#main-area.is-modeling > div#modeling-area {
    display: grid;
    grid-template-areas:
    "command command right_top" 
    "toolbar main_area right_top" 
    "toolbar main_area right_bottom" 
    "toolbar gumball right_bottom" 
    "options options right_bottom" 
}

#main-area.is-texture > div#texture-area {
    display: grid;
    grid-template-areas: 
    "main_area texture_map texture_map"
    "main_area offset_editing offset_editing"
    "main_area palette texture_layers"
    "options palette texture_layers";
    width: 100%;
    height: 100vh;
}

#main-area.is-animation > div#animation-area {
    display: grid;
    grid-template-areas: 
    "tab side-bar"
    "main side-bar"
    "playback side-bar"
    "bottom side-bar"
    "options side-bar";
    grid-template-columns: calc(100% - 326px) 326px ;
    grid-template-rows: 31px calc(100vh - 261px) 31px 119px 30px;
    width: 100%;
    height: 100vh;
}

.animator-scrub-buttons:hover{
    background-color: rgb(18, 18, 19) !important;
}

.modeling-input-3 {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-areas: "l bl m br r";
}

li.is-collapsed ul {
    display: none;
}

.input-invalid {
    background-color: violet;
}

.vertical-divider {
    position: absolute;
    top: 0;
    height: 100%;
    width: 8px;
    cursor: e-resize;
    z-index: 5
}
  
.horizontal-divider {
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    cursor: n-resize;
    z-index: 5
}

#drag-selection-overlay {
    position: fixed;
    background-color: rgba(233, 42, 42, 0.5);
}

ul#cube-list .cube-line-controller {
    border: solid 3px transparent
}

ul#cube-list .cube-line-controller.cube-intersected {
    background-color: red;
}

ul#cube-list .cube-line-controller.cube-selected {
    background-color: blue;
}

ul#cube-list .cube-line-controller[drag-state="on"] {
    background-color: #000000;
    color: wheat
}

ul#cube-list .cube-line-controller[drag-state="top"] {
    border-top-style: solid;
    border-top-color: #000000;
}

ul#cube-list .cube-line-controller[drag-state="bottom"] {
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

.cube-lock {
    display: none;
}

.is-locked .cube-lock, .is-locked.cube-lock {
    display: inline-flex;
}

.dropdown-entry {
    padding-top: 10px;
}

.dropdown-activateable.is-activated {
    background-color: #83FF7B;
}

.dropdown-activateable:not(.is-activated) {
    background-color: #FF7B7B;
}

.dropdown-activateable:hover {
    background-color: #7BFBFF;
}

.dropdown-activateable::after {
    margin-left: 10px;
}

.dropdown-activateable.is-activated::after {
    content: "✔";
}

.dropdown-activateable:not(.is-activated)::after {
    content: "🗙";
 }

 .dropdown-activateable {
     cursor: pointer;
 }

 .bottombar-element {
     display: inline-block;
     vertical-align: top;
 }

 .switch-canvas-button {
     position: absolute;
     top: 0;
     right: 20px;
 }

 .popout-button {
    position: absolute;
    top: 0;
    right: 0;
}

 .command-line-container {
     width: calc(100% - 175px);
     float: right;
 }

 .command-line-field {
     width: calc(100% - 19px);
     height: 30px;
 }

 .cli-text {
     position: relative;
     top: -75px;
     color: #000000;
     font-weight: bold;
     width: 100%;
 }

 .editor-tab {
     font-weight: bold;
     margin: 0px 2px -5px;
     padding: 2px 15px 8px;
     cursor: pointer;
     color: lightgray;
     border-radius: 5px 5px 0px 0px;
     border: 1px solid rgb(27, 27, 27);
     font-size: 10px;
 }

 .icon-close-button:hover {
     color: rgb(194, 92, 92);
 }

.editor-tab.tab-selected {
    color: white;
    background: #363636;
    border: none;
    position: relative;
    z-index: 100;
}

.editor-tab.tab-selected:after {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 22px;
    border-bottom: 3px solid hsl(204, 86%, 53%);
    z-index: 45478;
    content:"";
}

.pcr-app .pcr-selection .pcr-color-palette {
    z-index: 0 !important;
}

.texture-upload {
    height: 100%;
    background-color: tomato;
    z-index: -2;
}

.texture-upload-container {
    height: 100%;
}

.texture-upload li {
    border-style: solid;
}

.texture-container-class {
    display: flex;
}

.texture-file-entry {
    border: solid 3px transparent
}

.texture-file-entry.is-activated {
    background-color: red;
}

.texture-file-entry.entry-hidden {
    text-decoration: line-through;
}

.texture-layer[drag-state="top"] {
    border-top-style: solid;
    border-top-color: #000000;
}

.texture-layer[drag-state="bottom"] {
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

.modal-content {
    width: unset !important;
}

.top-nav {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.top-nav-item {
    align-items: center !important;
    display: flex !important;
}

.navbar-is-active {
    background-color: hsl(204, 86%, 53%) !important;
}

.dc-c-sw.column {
    flex: none;
}

.dc-c-sw.columns {
    display: flex;
}

*::-webkit-scrollbar {
    background-color: transparent;
    color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 29%);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 32%);
}
*::-webkit-scrollbar-thumb:active {
    background-color: hsl(0, 0%, 40%);
}
*::-webkit-scrollbar-corner {
    background-color: hsl(0, 0%, 14%;
}
* {
    scrollbar-color: hsl(0, 0%, 29%) transparent;
}
