#projectnublar {
  background-image: url('../images/pn/trex.jpg');
}

#dumblibrary {
  background-image: url('../images/dl/code.png');
}

#gradlehook {
  background-image: url('../images/gh/gradle.png');
}

@media only screen and (max-width: 720px) {
  #projectnublar {
    background-image: url('../images/pn/trexm.jpg');
  }

  #gradlehook {
    background-image: url('../images/gh/gradle.png');
    background-size: cover;
  }
}
