#dumblibrary {
  background-image: url('../images/dl/code.png');
}

#gradlehook {
  background-image: url('../images/gh/gradle.png');
}

@media only screen and (max-width: 800px) {
  #gradlehook {
    background-image: url('../images/gh/gradle.png');
    background-size: cover;
  }
}

#projectnublar {
    -webkit-transition: brightness .2s ease-in-out;
    -moz-transition: brightness .2s ease-in-out;
    -o-transition: brightness .2s ease-in-out;
    transition: brightness .2s ease-in-out;
}

#projectnublar.transparent {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}
