#projectnublar {
    background-image: url('../images/pn/trex.jpg');
    background-size: cover;
}

#dumblibrary {
  background-image: url('../images/dl/code.png');
  background-size: cover;
}

#gradlehook {
  background-image: url('../images/gh/gradle.png');
  background-size: cover;
}

@media only screen and (max-width: 720px) {
    #projectnublar {
        background-image: url('../images/pn/trexm.jpg');
    }

  #gradlehook {
    background-image: url('../images/gh/gradle.png');
    background-size: cover;
  }
}

#projectnublar {
    -webkit-transition: brightness .2s ease-in-out;
    -moz-transition: brightness .2s ease-in-out;
    -o-transition: brightness .2s ease-in-out;
    transition: brightness .2s ease-in-out;
}

#projectnublar.transparent {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}
