#modeling-area ul, #modeling-area #layer-pannel {
    list-style-type: none;
  }
  
  #modeling-area #layer-pannel {
    margin: 0;
    padding: 0;
  }
  
  #modeling-area .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  #modeling-area .caret::before {
    content: "\25B6";
    color: gray;
    display: inline-block;
    margin-right: 6px;
  }
  
  #modeling-area .cube-line-controller:not(.children-hidden) .caret::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  #modeling-area .nested {
    display: none;
  }
  
  #modeling-area :not(.children-hidden)+.nested {
    display: block;
  }

  #modeling-area .nested li {
    margin-left: 10px;
  }


  #modeling-area .control:not(.keep-size) {
      width: 100%
  }


  #modeling-area .input-title {
    clear: both;
    padding: 22px 0px 0px 0px;
    font-size: 16px;
    color: rgba(255,255,255,.6);
    font-weight: 300;
  }




/* Styling Checkbox Starts */
#modeling-area .checkbox-label {
display: block;
position: relative;
margin: auto;
cursor: pointer;
font-size: 22px;
line-height: 24px;
height: 24px;
width: 24px;
clear: both;
}

#modeling-area .checkbox-label input {
position: absolute;
opacity: 0;
cursor: pointer;
}

#modeling-area .checkbox-label .checkbox-custom {
position: absolute;
top: 0px;
left: 0px;
height: 24px;
width: 24px;
background-color: transparent;
border-radius: 5px;
transition: all 0.1s ease-out;
-webkit-transition: all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
-ms-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
border: 2px solid #363636;
}


#modeling-area .checkbox-label input:checked ~ .checkbox-custom {
background-color: #209cee;
border-radius: 5px;
-webkit-transform: rotate(0deg) scale(1);
-ms-transform: rotate(0deg) scale(1);
transform: rotate(0deg) scale(1);
opacity:1;
border: 1px solid #209cee;
}


#modeling-area .checkbox-label .checkbox-custom::after {
position: absolute;
content: "";
left: 12px;
top: 12px;
height: 0px;
width: 0px;
border-radius: 5px;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(0deg) scale(0);
-ms-transform: rotate(0deg) scale(0);
transform: rotate(0deg) scale(0);
opacity:1;
transition: all 0.1s ease-out;
-webkit-transition: all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
-ms-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
}


#modeling-area .checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #f5f5f5;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}




#modeling-area .lock-icon {
height: 12px; 
position: absolute; 
right: 10px; 
margin-top: 5px;
}

#modeling-area .hide-icon {
height: 12px; 
position: absolute; 
right: 30px; 
margin-top: 6px;
}

/* //padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-left: -14px;
  border: 1px solid #121212;
  font-size: 14px;
  border-top: 0px;
  border-right: none;
  bottom: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px; */

  #modeling-area .option-select.is-activated {
color: #3298dc;
}

.editor-cube-button:not(.is-active) > *.when-has-cubes {
  display: none
}

.editor-cube-button.is-active > *:not(.when-has-cubes) {
  display: none
}