#editor-container {
    position: relative;
    border-top-style: solid;
    border-color: #555;
    border-width: 15px;
    cursor: n-resize;
}

.editor-part:not(.is-active) {
    display: none;
}

#editor {
    background-color: #222;

    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;

    cursor: initial;
}

.toplayer-columns .column {
    text-align: center
}

.java-method-code {
    background-color: #222;
    border-radius: 5px;
    padding: 5px;
    font-size: 75%;
    white-space: pre;
}

.tabs a {
    color: antiquewhite !important;
}

.tabs li.is-active a {
    color: yellow !important;
    border-bottom-color: yellow !important;
}

#main-area.is-modeling div#template-div {
    display: grid;
    grid-template-areas: 
    "left_area main_area right_area_top"
    "left_area main_area right_area_bottom"
    "left_area bottom_bar right_area_bottom"
    ;
    width: 100%;
}

.modeling-input-3 {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-areas: "l bl m br r";
}

li.is-collapsed ul {
    display: none;
}

.input-invalid {
    background-color: violet;
}

.vertical-divider {
    position: absolute;
    top: 0;
    height: 100%;
    width: 8px;
    cursor: e-resize;
}
  
.horizontal-divider {
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    cursor: n-resize;
}

ul#cube-list .cube-line-controller {
    border: solid 3px transparent
}

ul#cube-list .cube-line-controller.cube-intersected {
    background-color: red;
}

ul#cube-list .cube-line-controller.cube-selected {
    background-color: blue;
}

ul#cube-list .cube-line-controller[drag-state="on"] {
    background-color: #000000;
    color: wheat
}

ul#cube-list .cube-line-controller[drag-state="top"] {
    border-top-style: solid;
    border-top-color: #000000;
}

ul#cube-list .cube-line-controller[drag-state="bottom"] {
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

.cube-lock {
    display: none;
}

.is-locked .cube-lock, .is-locked.cube-lock {
    display: inline-flex;
}

.dropdown-entry {
    margin-top: 10px;
}

.dropdown-activateable.is-activated {
    background-color: #83FF7B;
}

.dropdown-activateable:not(.is-activated) {
    background-color: #FF7B7B;
}

.dropdown-activateable:hover {
    background-color: #7BFBFF;
}

.dropdown-activateable::after {
    margin-left: 10px;
}

.dropdown-activateable.is-activated::after {
    content: "✔";
}

.dropdown-activateable:not(.is-activated)::after {
    content: "🗙";
 }

 .dropdown-activateable {
     cursor: pointer;
 }

 .bottombar-element {
     display: inline-block;
 }

 .popout-button {
     position: absolute;
     top: 0;
     right: 0;
 }