#editor-container {
    position: relative;
    border-top-style: solid;
    border-color: #555;
    border-width: 15px;
    cursor: n-resize;
}

.editor-part:not(.is-active) {
    display: none;
}

#editor {
    background-color: #222;

    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;

    cursor: initial;
}

.toplayer-columns .column {
    text-align: center
}

.java-method-code {
    background-color: #222;
    border-radius: 5px;
    padding: 5px;
    font-size: 75%;
    white-space: pre;
}

.tabs a {
    color: antiquewhite !important;
}

.tabs li.is-active a {
    color: yellow !important;
    border-bottom-color: yellow !important;
}