.tooltip-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  font-size: small;

  color: #717171;
  background-color: #212121;
  border: black solid 1px;

  padding: 3px;

  text-align: center;
}

.tooltip-container:not(.is-active) {
  display: none;
}