.columned {
  display: grid;
  grid-template: "l r";
  grid-template-columns: 50% 50%;
}

.cl {
  grid-area: l;
}

.cr {
  grid-row: r;
}

.text-title {
  text-align: center;
}

.event-point-list {
  height: 500px;
  overflow-y: scroll;
}

.event-point-entry input {
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.event-point-entry {
  border-style: solid;
  border-color: cornsilk;
}

.delete-event {
  cursor: pointer;
}

.empty-entry {
  display: none;
}