<style>
    .entries-container {
        border: solid black 2px; 
        width: 500px; 
        height: 200px; 
        border-radius: 3px; 
        overflow-y: scroll;
    }

    .entry-template {
        display: none;
    }

    .repository-entry:hover {
        background-color: #565656;
    }
</style>
<div id="modal-remote-repos-entries" style="text-transform: none">
    <div class="modal-background"></div>
    <div class="modal-content box" style="background-color: #363636; color: whitesmoke !important; text-align: left;">
        <h3 class="title is-3" style="color: whitesmoke">Entries for <span class="repository-header-name">name</span></h3>
        <div style="padding-bottom: 20px">
            <button class="modal-close" aria-label="close" style="position: absolute"></button>
        </div>
        <span class="icon is-small add-entry ml-2 tooltip" data-tooltip="Add Entry">
            <i class="fas fa-plus"></i>
        </span>
        <div class="repository-entry entry-template " style="height: 50px;">
            <div class="columns ml-0 mt-0 mr-0 mb-0 is-mobile">
                <div class="column entry-name">
                    myproject
                </div>
                <div class="column is-narrow remote-edit" >
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="entries-container">
            
        </div>
    </div>
</div>