
    .light-button {
        color: rgb(122, 122, 122);
    }
    .command-button {
        border-left: none;
        border-top: none;
        border-bottom: none;
        color: rgb(122, 122, 122);
        border-right: 1px solid black;
    }
    .command-button:hover {
        background-color: rgb(29, 25, 25);
    }
    .dropdown-command {
        margin-left: 32px;
        margin-top: -32px;
        padding-left: 2px;
    }

    .tooltip-border {
        border: 1px solid black;
    }
    .tooltip-text {
        font-size: 12px;
        margin: 0px;
    }
