<div style="grid-area: left_area; color: black; ">
    <div class="modeling-ui-entry">
        <label>Cube Name</label>
        <div style="padding: 5px;">
            <input class="input-cube-name editor-require-selected" type="text" name="Cube Name" disabled>
        </div>
    </div>
    <div class="modeling-ui-entry">
        <label>Dimensions</label>
        <div class="modeling-input-3" style="padding: 5px;">
            <input axis="0" class="input-dimension editor-require-selected" style="grid-area: l" type="number" name="X Dimension" disabled>
            <input axis="1" class="input-dimension editor-require-selected" style="grid-area: m" type="number" name="X Dimension" disabled>
            <input axis="2" class="input-dimension editor-require-selected" style="grid-area: r" type="number" name="X Dimension" disabled>
        </div>
    </div>
    <div class="modeling-ui-entry">
        <label>Position</label>
        <div class="modeling-input-3" style="padding: 5px;">
            <input axis="0" class="input-position modeling-ui-changeable editor-require-selected" style="grid-area: l" type="number" name="X Position" disabled>
            <input axis="1" class="input-position modeling-ui-changeable editor-require-selected" style="grid-area: m" type="number" name="X Position" disabled>
            <input axis="2" class="input-position modeling-ui-changeable editor-require-selected" style="grid-area: r" type="number" name="X Position" disabled>
        </div>
    </div>
    <div class="modeling-ui-entry">
        <label>Offset</label>
        <div class="modeling-input-3" style="padding: 5px;">
            <input axis="0" class="input-offset modeling-ui-changeable editor-require-selected" style="grid-area: l" type="number" name="X Offet" disabled>
            <input axis="1" class="input-offset modeling-ui-changeable editor-require-selected" style="grid-area: m" type="number" name="X Offet" disabled>
            <input axis="2" class="input-offset modeling-ui-changeable editor-require-selected" style="grid-area: r" type="number" name="X Offet" disabled>
        </div>
    </div>
    <div class="modeling-ui-entry">
        <label>Cube Grow</label>
        <div style="padding: 5px;">
            <input class="input-cube-grow modeling-ui-changeable editor-require-selected" type="number" name="Cube Grow" disabled>
        </div>
    </div>
    <div class="modeling-ui-entry">
        <label>Offset</label>
        <div class="modeling-input-3" style="padding: 5px;">
            <input axis="0" class="input-texure-offset modeling-ui-changeable editor-require-selected" style="grid-area: l" type="number" name="X Tex Offet" disabled>
            <input axis="1" class="input-texure-offset modeling-ui-changeable editor-require-selected" style="grid-area: m" type="number" name="Y Tex Offet" disabled>
            <div style="grid-area: r" class="b-checkbox is-inline">
                <input class="input-texture-mirrored editor-require-selected" id="checkbox-tex-mirrored" class="styled" type="checkbox">
                <label for="checkbox-tex-mirrored">Mirror</label>
            </div>
        </div>
    </div>
    <div class="modeling-ui-entry">
        <label>Rotation</label>
        <div class="modeling-input-3" style="padding: 5px;">
            <input axis="0" class="input-rotation editor-require-selected" style="grid-area: l" type="number" name="X Rotation" disabled>
            <input axis="1" class="input-rotation editor-require-selected" style="grid-area: m" type="number" name="X Rotation" disabled>
            <input axis="2" class="input-rotation editor-require-selected" style="grid-area: r" type="number" name="X Rotation" disabled>
        </div>
        <input axis="0" class="input-rotation-slider editor-require-selected" type="range" step="0.1" min="-180" max="180" value="0" disabled>
        <input axis="1" class="input-rotation-slider editor-require-selected" type="range" step="0.1" min="-180" max="180" value="0" disabled>
        <input axis="2" class="input-rotation-slider editor-require-selected" type="range" step="0.1" min="-180" max="180" value="0" disabled>
    </div>
    <div>
        <input type="button" onclick="toggleDimensionsTransform()">TEST</input>
    </div>
</div>
<div id="left-divider" class="vertical-divider"></div>
<div id="right-divider" class="vertical-divider"></div>
<div class="editor-part", editor-tab="modeling" style="grid-area: right_area_top; background-color: black;">
    TEST
</div>
<div id="display-div" style="grid-area: main_area;"></div>
<div class="editor-part", editor-tab="modeling" style="grid-area: right_area_bottom;">
    <div class="modeling-studio-cube-edit">
        <button class="cube-create">+</button>
        <button class="cube-delete" onclick="deleteCube()">-</button>
    </div>
    <ul id="cube-list" style="overflow-y: scroll; height: 100%;"></ul>
</div>