<div id="modal-progression" style="text-transform: none">
    <div class="modal-background"></div>
    <div class="modal-content box" style="background-color: #363636; color: whitesmoke !important; text-align: left; width: 500px;">
        <h3 class="title is-3" style="color: whitesmoke">Keyframe Layer Settings</h3>
        <div style="padding-bottom: 20px">
            <button class="modal-close" aria-label="close" style="position: absolute"></button>
        </div>
        <div class="settings-entry-field columns is-mobile">
            <div class="column is-narrow">
                Keyframe Layer Mode:
            </div>
            <div class="column select is-rounded is-small">
                <select class="keyframe-layer-mode-select">
                    <option class="layer-mode" is-defined="false">Additive</option>
                    <option class="layer-mode" is-defined="true">Defined</option>
                </select>
            </div>
        </div>
        <div class="settings-entry-field columns is-mobile">
            <div class="column">
                <button class="button-discard">Discard</button>
            </div>
            <div class="column">
                <button class="button-save">Save</button>
            </div>
        </div>
    </div>
</div>