<style>
    .easing-function-entry img {
        height: 85px;
    }

    .easing-function-entry {
        cursor: pointer;
        text-align: center;
        width: 150px;
        height: 130px;
        margin: 9px;
        background-color: #181A1B;
        border-style: solid;
        border-width: 5px;
        border-color: #181A1B;
    }

    .easing-function-entry.is-activated {
        border-color: #a12516;
    }

    .easing-function-title {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .easing-function-type-entry {
        cursor: pointer;
        margin: 25px 5px;
        padding: 5px 15px;
        background-color: #252525;
        border-radius: 10px;
        border-color: #151515;
        border-style: solid;
    }

    .easing-function-type-entry.is-activated {
        border-color: #519281;
    }

    .generate-points-button {
        cursor: pointer;
        background-color: #519281;
        margin-top: 30px;
        padding: 20px 30px;
        border-style: solid;
        border-radius: 10px;
    }
</style>
<div id="modal-progression" style="text-transform: none">
    <div class="modal-background"></div>
    <div class="modal-content box" style="background-color: #363636; color: whitesmoke !important; text-align: left">
        <h3 class="title is-3" style="color: whitesmoke">Progression</h3>
        <div style="padding-bottom: 20px">
            <button class="modal-close" aria-label="close" style="position: absolute"></button>
        </div>
        <div class="columns">
            <div class="column is-narrow">
                <!-- 181A1B -->
                <div class="columns">
                    <span class="column easing-function-entry" select-list-entry="sine">
                        <img src="/images/easing/sine.png">
                        <div class="easing-function-text">
                            Sine
                        </div>
                    </span>
                    <span class="column easing-function-entry" select-list-entry="quad">
                        <img src="/images/easing/quad.png">
                        <div class="easing-function-text">
                            Quad
                        </div>
                    </span>
                </div>
                <div class="columns">
                    <span class="column easing-function-entry" select-list-entry="cubic">
                        <img src="/images/easing/cubic.png">
                        <div class="easing-function-text">
                            Cubic
                        </div>
                    </span>
                    <span class="column easing-function-entry" select-list-entry="quart">
                        <img src="/images/easing/quart.png">
                        <div class="easing-function-text">
                            Quart
                        </div>
                    </span>
                </div>
                <div class="columns">
                    <span class="column easing-function-entry" select-list-entry="quint">
                        <img src="/images/easing/quint.png">
                        <div class="easing-function-text">
                            Quint
                        </div>
                    </span>
                    <span class="column easing-function-entry" select-list-entry="expo">
                        <img src="/images/easing/expo.png">
                        <div class="easing-function-text">
                            Expo
                        </div>
                    </span>
                </div>
                <div class="columns">
                    <span class="column easing-function-entry" select-list-entry="circ">
                        <img src="/images/easing/circ.png">
                        <div class="easing-function-text">
                            Circ
                        </div>
                    </span>
                    <span class="column easing-function-entry" select-list-entry="back">
                        <img src="/images/easing/back.png">
                        <div class="easing-function-text">
                            Back
                        </div>
                    </span>
                </div>
                <div class="columns">
                    <span class="column easing-function-entry" select-list-entry="elastic">
                        <img src="/images/easing/elastic.png">
                        <div class="easing-function-text">
                            Elastic
                        </div>
                    </span>
                    <span class="column easing-function-entry" select-list-entry="bounce">
                        <img src="/images/easing/bounce.png">
                        <div class="easing-function-text">
                            Bounce
                        </div>
                    </span>
                </div>
            </div>
            <div class="column">
                <canvas id="progression_canvas" width="600px" height="600px" style="border:1px solid #d3d3d3; background-color: #161616;"></canvas>
                <div class="columns">
                    <div class="column is-narrow easing-function-types">
                        <div class="easing-function-title">
                            Select Function Type:
                        </div>
                        <span class="easing-function-type-entry" style="background-color: #25527F;" select-list-entry="in">
                            In
                        </span>
                        <span class="easing-function-type-entry" style="background-color: #2E6738;" select-list-entry="out">
                            Out
                        </span>
                        <span class="easing-function-type-entry" style="background-color: #4A357C;" select-list-entry="inout">
                            InOut
                        </span>
                    </div>
                    <div class="column is-narrow">
                        <div class="easing-function-title">
                            Number of points:
                        </div>
                        <input class="easing-function-number" type="number" value="10">
                    </div>
                    <div class="column is-narrow">
                        <div class="generate-points-button">
                            Generate
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>