<div id="modal-progression" style="text-transform: none">
    <div class="modal-background"></div>
    <div class="modal-content box" style="background-color: #363636; color: whitesmoke !important; text-align: left">
        <h3 class="title is-3" style="color: whitesmoke">Progression</h3>
        <div style="padding-bottom: 20px">
            <button class="modal-close" aria-label="close" style="position: absolute"></button>
        </div>
        <div>
           <canvas id="progression_canvas" width="600px" height="600px" style="border:1px solid #d3d3d3; background-color: #161616;"></canvas>
        </div>
    </div>
</div>