<div class="tab-div" id="tab-div">
    <span class="tab-container"></span>
    <span class="tab-add icon is-small">
        <i class="fas fa-plus"></i>
    </span> 
</div>
<div id="display-div"></div>
<div class="editor" id="editor">
    <h5 class="title is-5" style="text-align: center">DumbCode Animation Editor</h5>
    <div class="toplayer-columns columns">
        <div class="column" >
            <a id="editor-undo" class="button is-dark tooltip" data-tooltip="Undo" onclick="daeHistory.undo()" disabled>
                <span class="icon is-medium">
                    <i class="fas fa-undo-alt"></i>
                </span>
            </a>  
            <a id="editor-redo" class="button is-dark tooltip" data-tooltip="Redo" onclick="daeHistory.redo()"  disabled>
                <span class="icon is-medium">
                    <i class="fas fa-redo-alt"></i>
                </span>
            </a>         
        </div>
        <div class="column">
            <a class="button is-dark button-pause-play">Play</a>
            <a class="button is-dark button-reset-keyframes">Reset</a>
            <a id="control-translate" class="button button-activateable is-dark tooltip transform-control-tool" data-tooltip="Toggle Translate Mode" select-list-entry="translate">
                <span class="icon is-medium">
                    <i class="fas fa-arrows-alt"></i>
                </span>
            </a>
            <a id="control-rotate" class="button button-activateable is-dark tooltip transform-control-tool" data-tooltip="Toggle Rotate Mode" select-list-entry="rotate">
                <span class="icon is-medium">
                    <i class="fas fa-sync-alt"></i>
                </span>
            </a>
            <a id="control-global" class="button is-dark tooltip is-active" data-tooltip="Toggle Global">
                <span class="icon is-medium">
                    <i class="fas fa-globe-americas"></i>
                </span>
            </a> 
        </div>
        <div class="column">
            <div>
                Playback Speed: 
                <span id="playback-speed">
                    1
                </span>
            </div>
            <input class="input-slider is-active input-playback-speed" type="range" step="0.01" min="-2" max="2" value="0">
        </div>
    </div>
    <div class="toplayer-columns columns">
        <div class="column" >
            Rotation
            <div class="editor-slider editor-entry">
                X: 
                <input axis="0" class="input-rotation-slider input-slider editor-require-selected" type="range" step="0.1" min="-180" max="180" value="0" disabled>
                <input axis="0" class="input is-small editor-require-selected input-rotation" type="text" placeholder="X" disabled>
            </div>
            <div class="editor-slider editor-entry">
                Y: 
                <input axis="1" class="input-rotation-slider input-slider editor-require-selected" type="range" step="0.1" min="-180" max="180" value="0" disabled>
                <input axis="1" class="input is-small editor-require-selected input-rotation" type="text" placeholder="Y" disabled>
            </div>
            <div class="editor-slider editor-entry">
                Z: 
                <input axis="2" class="input-rotation-slider input-slider editor-require-selected" type="range" step="0.1" min="-180" max="180" value="0" disabled>
                <input axis="2" class="input is-small editor-require-selected input-rotation" type="text" placeholder="Z" disabled>
            </div>
        </div>
        <div class="column">
            Position
            <div class="editor-entry">
                X: 
                <a axis="0" class="button is-dark button-small">-</a>
                <input axis="0" class="input-position input is-small editor-text-value editor-require-selected" type="text" placeholder="X Position" disabled>
                <a axis="0" class="button is-dark button-small">+</a>
            </div>
            <div class="editor-entry">
                Y: 
                <a axis="1" class="button is-dark button-small">-</a>
                <input axis="1" class="input-position input is-small editor-text-value editor-require-selected" type="text" placeholder="Y Position" disabled>
                <a axis="1" class="button is-dark button-small">+</a>
            </div>
            <div class="editor-entry">
                Z: 
                <a axis="2" class="button is-dark button-small">-</a>
                <input axis="2" class="input-position input is-small editor-text-value editor-require-selected" type="text" placeholder="Z Position" disabled>
                <a axis="2" class="button is-dark button-small" >+</a>
            </div>
        </div>
        <div class="column">
            <div>
                <a class="button is-dark is-medium tooltip button-add-keyframe" data-tooltip="Add Keyframe">
                    <span class="icon is-medium">
                        <i class="fas fa-plus-square"></i>
                    </span>
                </a>
                <a class="button is-dark is-medium tooltip button-delete-keyframe" data-tooltip="Delete Keyframe">
                    <span class="icon is-medium">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </a>
                <a class="button is-dark is-medium tooltip popup-modal-button popup-animator-progression" data-tooltip="Progression" modal-target="animator/progression">
                    <span class="icon is-medium">
                        <i class="fas fa-percentage"></i>
                    </span>
                </a>
            </div>
            <div style="padding-top: 10px;">
                Start Time:
                <input id="editor-kf-startime" class="editor-text-value input is-small input-keyframe-starttime" style="width: 50px" type="text">
            </div>
            <div style="padding-top: 10px;">
                Duration:
                <input id="editor-kf-duration" class="editor-text-value input is-small input-keyframe-duration" style="width: 50px" type="text">
            </div>
        </div>
    </div>
    <div class="keyframe-board">
    </div>
</div>
<div id="animation-divider" class="horizontal-divider is-animator"></div>
