<style>
    .empty-column {
        display: none !important;
    }

    .file-input-hidden {
        display: none !important;
    }

    .clickable {
        cursor: pointer !important;
    }

    .texture-list-entry {
        border: solid 3px transparent
    }

    .texture-list-entry[drag-state="top"] {
        border-top-style: solid;
        border-top-color: #000000;
    }

    .texture-list-entry[drag-state="bottom"] {
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }

    .texture-preview {
        height: 50px;
        max-width: 50px;
        padding: 0;
    }

    .base-drop-area.is-dragging {
        background-color: green;
    }

    .model-list-entry.is-activated {
        color: khaki;
    }

</style>
<section class="section is-mobile has-background-black-ter" style="height: 100vh">
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column">
            <div class="notification is-dark base-drop-area model-drop-area">
                <div class="columns model-layer-topbar">
                    <div class="column">
                        <h1 class="title is-5">MODEL</h1>
                    </div>
                    <div class="column is-narrow">
                        <span class="new-model-button icon is-small clickable tooltip" data-tooltip="Create New Model">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    <div class="column is-narrow">
                        <div class="clickable tooltip" data-tooltip="Upload New Model">
                            <label for="model-file-input">
                                <div class="icon is-small">
                                    <i class="fas fa-upload"></i>
                                </div>
                            </label>
                            <input id="model-file-input" class="file-input-hidden" type="file" accept=".tbl,.dcm" multiple/>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="clickable tooltip" data-tooltip="Import as Project">
                            <label for="project-file-input">
                                <div class="icon is-small">
                                    <i class="fas fa-file-import"></i>
                                </div>
                            </label>
                            <input id="project-file-input" class="file-input-hidden" type="file" accept=".dcproj" multiple/>
                        </div>
                    </div>
                </div>
                <div class="model-list-entry columns empty-column">
                    <div class="column is-narrow model-preview">
                    </div>
                    <div class="column dbl-click-container model-name-container">
                        <p class="dbl-text"></p>
                        <input class="dbl-text-edit" type="text">
                    </div>
                    <div class="column is-narrow">
                        <span class="download-project-file icon is-small clickable tooltip" data-tooltip="Download As Project">
                            <i class="fas fa-file-export"></i>
                        </span>
                    </div>
                    <div class="column is-narrow">
                        <span class="download-model-file icon is-small clickable tooltip " data-tooltip="Download Model">
                            <i class="fas fa-file-download"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="notification is-dark required-project">
                <h1 class="title is-5">PROJECT</h1>
                <div class="columns">
                    <div class="column is-narrow">
                      <i class="fas fa-cubes"></i>
                    </div>
                    <div class="column">
                        <p>parasaur.dcproj</p>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="column">
            <div class="notification is-dark base-drop-area texture-drop-area required-project">
                <div class="columns texture-layer-topbar">
                    <div class="column">
                        <h1 class="title is-5">TEXTURE LAYERS</h1>
                    </div>
                    <div class="column is-narrow">
                        <span class="new-texture-button icon is-small clickable tooltip" data-tooltip="Create New Texture">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    <div class="column is-narrow">
                        <div class="clickable tooltip" data-tooltip="Upload New Texture">
                            <label for="texture-file-input">
                                <div class="icon is-small">
                                    <i class="fas fa-upload"></i>
                                </div>
                            </label>
                            <input id="texture-file-input" class="file-input-hidden" type="file" accept=".png" multiple/>
                        </div>
                    </div>
                </div>
                <div class="texture-list-entry columns empty-column">
                    <div class="column is-narrow texture-preview">
                    </div>
                    <div class="column dbl-click-container texture-name-container">
                        <p class="dbl-text"></p>
                        <input class="dbl-text-edit" type="text">
                    </div>
                    <div class="column is-narrow">
                        <span class="download-texture-file icon is-small clickable tooltip " data-tooltip="Download Texture">
                            <i class="fas fa-file-download"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="notification is-dark required-project">
                <div class="columns animation-layer-topbar">
                    <div class="column">
                        <h1 class="title is-5">ANIMATIONS</h1>
                    </div>
                    <div class="column is-narrow">
                        <span class="new-animation-button icon is-small clickable tooltip" data-tooltip="Create New Animation">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    <div class="column is-narrow">
                        <div class="clickable tooltip" data-tooltip="Upload New Animation">
                            <label for="animation-file-input">
                                <div class="icon is-small">
                                    <i class="fas fa-upload"></i>
                                </div>
                            </label>
                            <input id="animation-file-input" class="file-input-hidden" type="file" accept=".dca" multiple/>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="clickable tooltip" data-tooltip="Upload From Model Files">
                            <label for="animation-tbl-files">
                                <div class="icon is-small">
                                    <i class="fas fa-folder"></i>
                                </div>
                            </label>
                            <input id="animation-tbl-files" class="file-input-hidden" type="file" accept=".tbl,.dcm,.json" multiple/>
                        </div>
                    </div>
                </div>
                <div class="animation-list-entry columns empty-column">
                    <div class="column is-narrow">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="column dbl-click-container animation-name">
                        <p class="dbl-text"></p>
                        <input class="dbl-text-edit" type="text">
                    </div>
                    <div class="column is-narrow">
                        <span class="download-animation-gif icon is-small clickable tooltip " data-tooltip="Record As Gif">
                            <i class="fas fa-file-video"></i>
                        </span>
                    </div>
                    <div class="column is-narrow">
                        <span class="download-animation-file icon is-small clickable tooltip " data-tooltip="Download Animation">
                            <i class="fas fa-file-download"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-1"></div>
    </div>
</section>