<!DOCTYPE html>
<html>
    <head>
        <!-- TODO: find out what css is actually needed -->
        <link href="https://www.dumbcode.net//css/tooltips.css" rel="stylesheet" />
        <link href="https://www.dumbcode.net//css/collapsible.css" rel="stylesheet" />
        <link href="https://www.dumbcode.net//css/cool-checkboxes.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" rel="stylesheet"/>
        <link href="../css/editor.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        <!-- used for modal veiwing of the settings page -->
        <script src="https://bulma.io/vendor/clipboard-1.7.1.min.js"></script>
        <script src="https://bulma.io/vendor/js.cookie-2.1.4.min.js"></script>
        <script src="https://bulma.io/lib/main.js?v=201907050846"></script>

        <link href="../css/displays.css" rel="stylesheet">
    </head>
    <body>
        <div id="content-area">

        </div>
    </body>
</html>