<div id="bbmodel-import" style="text-transform: none; width: 600px">
    <div class="modal-background"></div>
    <div class="modal-content box" style="background-color: #363636; color: whitesmoke !important; text-align: left">
        <h3 class="title is-3" style="color: whitesmoke">BlockBench Import</h3>
        <div style="padding-bottom: 20px">
            <button class="modal-close" aria-label="close" style="position: absolute"></button>
        </div>
        <div class="settings-entryentry-top ">
            Upload textures to have them automatically rearranged
        </div>
        <div class="settings-entry">
            <div class="file">
                <label class="file-label">
                    <input class="file-input bbmodel-file-import" type="file" name="bbmodel" accept="image/*" multiple>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Texture files...
                        </span>
                    </span>
                </label>
            </div>
        </div>
        <div class="file-name-entries">

        </div>
        <div>
            <div class="button continue-button">Continue</div>
        </div>
    </div>
</div>